:root{
  --white-color: white;
  --blue-color: #4338CA;
  --black-color: #171717;
  --gray-color: #525252;
    --light-gray-color: #ebebeb;

  --green-color: #15803D;
  --light-green-color: #BBF7D0;
  --light-color: #F0FDF4;
  --gradient-color-top:#cfcfcf;
  --gradient-color-bottom:#D2D6DB;
}